@tailwind base;
@tailwind components;
@tailwind utilities;


.header form {
  margin: 0!important;
  padding: 0!important;
  width: 100%;
}
.header form ._form_element {
  margin-bottom: 8px!important;
}
.header form input {
  border: 1px solid #2C8F79
}
.header form button._submit {
  width: 100%;
  font-weight: bold!important;
  letter-spacing: 1px;
  padding: 12px!important;
  border-radius: 12px!important;
}
@media (max-width: 450px) {
  .header form button {
    font-size: 14px!important;
    font-weight: bold;
    padding: 0
  }
  .header form input {
    background: transparent;
    border: 2px solid #2C8F79!important;
    outline: none;
    color: rgba(255, 255, 255, .4)!important;
    padding: 12px!important;
    border-radius: 6px!important;
  }
  ._checkbox-radio {
    margin-bottom: 0!important
  }
}